
.container {
  margin: 2rem auto;
  width: 30rem;
  overflow: hidden;
}

.productWrap {
  display: flex;
}
.card {
  display: flex;
  cursor: pointer;
  margin-right: 3rem;
  background-color: gray;
  padding: 1rem;
  color: white;
  font-weight: bold;
}
.productDetails {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.showProduct {
  background-color: black;
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  height: 65vh;
  border-radius: 10px;
  padding: 2rem;
}
.productImg {
  border-radius: 10px;
}
.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem;
  margin-bottom: 1.7rem;
  color: blue;
}
.goBack {

  margin-top: 2rem;
  font-weight: bold;
  background-color: blue;
  padding: 1rem;
  border-radius: 10px;
  width: 17rem;
  text-align: center;
  cursor: pointer;
}
.goBack:hover {
  background-color: rgb(89, 89, 185);
}

.slideWrap {
  margin:  3rem auto;
  width: 30rem;
  
}



.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}
