.container {
  margin: 2rem auto;
  width: 30rem;
  overflow: hidden;
}
.card {
  display: flex;
  /* box-shadow: -6px 6px 23px 7px rgba(161,143,161,1); */
  cursor: pointer;
  margin-top: 3rem;
  background-color: gray;
  padding: 1rem;
  color: white;
  font-weight: bold;
}
.productDetails {
  display: flex;
  justify-content: space-between;
 padding-top: 1rem;
}