.container {
  margin: 2rem auto;
  width: 30rem;
  overflow: hidden;
}

.productWrap {
  display: flex;
}
.card {
  display: flex;
  cursor: pointer;
  margin-right: 3rem;
  background-color: gray;
  padding: 1rem;
  color: white;
  font-weight: bold;
}
.productDetails {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
